.App {
  font-family: sans-serif;
  text-align: center;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
}

.container {
  width: 60%;
  border: solid gray 2px;
  padding: 2em;
  min-height: 40vh;
  background-color: rgba(248, 241, 241, 0.495);
  border-radius: 15px;
}
.circle {
  line-height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color:  rgb(221, 213, 213);
  ;
}

.steps{
  display: flex;
  justify-content: space-between;
  padding: 0 3em;
  color:white;
}
.heading{
  text-align: center;
  margin-top: 3em;
}

.buttons{
  display: flex;
  justify-content: space-between;
  padding:0 3em;
  margin-top: 3em;
}
.button{
  padding:1em;
  height: 3em;
  border-radius: 25px;
  cursor: pointer;
  color: white;
  border: none;

}
.button-bg{
  background-color: purple;

}

.close-btn{
  background-color: white;
  position: fixed;
  right: 25px;
  top: 50px;
  cursor: pointer;
  border: none;
  font-size: x-large;

}
.close-btn:hover{
  color:rgb(208, 75, 208);

}
.button:hover{
  Background-color:rgb(208, 75, 208);
  color:white;
}

.bgColor{
background-color: purple;
}